*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.portfolio, .contact-section{
    width:100vw;
    
    background-color: rgb(0, 0, 0);
    color:white;
}

.menu a{
    color:white;
    text-decoration: none;
    padding:10px 20px;
    
}

.menu .active{
    color:brown;
}

.menu a:hover{
    background-color: yellow;
    color:rgb(0, 0, 0);
    transition: ease-out .4s;
}

.toggle-menu, .info-content .social-network{
    display: none; 
}

.brand span{
    color:magenta;

}
.menu{
    display:flex;
    width:50%;
    justify-content: space-around;
    
}

.menu li{
    list-style: none;
    
}

.navbar{
    display:flex;
    justify-content: space-between ;
    padding:2em;
}

.brand{
    margin-top: -7px;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
   
    
}
.info-content_p{
	color: magneta;
}

h1{
    font-size: clamp(4vw, 1.5em, 3em)
}

span{
    color:magenta;
}

.download-cv, .project-details-button{
    padding: 10px 20px;
    background-color: magenta;
    border:none;
    border-radius: 20px;
    margin-top: 10px;
    cursor:pointer;
    box-shadow: 10px 3px 11px -5px rgb(0, 0, 0);
}

.download-cv:hover, .project-details-button:hover{
    background-color: yellow;
    box-shadow: none;
}

.project-details-button a{
    text-decoration: none;
}

.info-content{
    z-index: 100;
}

.info-content_subtitle{
    margin:100px;
    margin-left:0px;
}

#main_img-yo{
    margin-bottom: 100px;
    position: relative;
    width:550px;
    border: 7px solid magenta;
    height: 520px;
}

#main_img-informatica{
    position:absolute;
    top:80px;
    height: 545px;
    width: 100vw;
    left:0px;
    z-index: 0;
    
}

#container{
    position: absolute;
    left:0px;
    top:80px;
    width: 100vw;
    height: 545px;
    
    z-index: 0;
    
}

.filter{  /* FILTRO DE IMAGEN EFECTO BORROSO */
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(5px);
    background-color: rgba(243,243,243,0.2);
}

.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
     
}


.about img{
    grid-column: 1/5;
    max-width: 100%;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.divider{
    height: 4px;
    width: 60px;
    background-color: magenta;
    margin-top: 5px;
    margin-bottom: 2em;

}

.about p{
    margin-bottom: 1em;
}



.portfolio-headings{
    width:100vw;
    padding: 5em;
}

.portfolio-headings h2{
    font-size: 2.5em;
}

.portfolio .container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card{
    width:300px;
    height: 350px;
    color:white;
    background-color: black;
    margin: 1em;
    
}

.card:hover{
    background-color: rgba(10, 10, 10, 0.658);
}

#card_title1{
    margin-left: 20px;
}

#card_title2{
    margin-left: 5px;
}
